.zagl {
  display: flex;
  flex-direction: row;
  width: 80%;
  background-color: rgb(228, 228, 228);
}
.str {
  display: flex;
  flex-direction: row;
  width: 80%;
}
.box {
  border: solid 1px gray;
  padding: 5px 10px;
  flex: 1;
  text-align: center;
}
.prev,
.next {
  cursor: pointer;
  font-weight: 500;
}
